/* ********************************************* */
/*/BELOW  1200px (Smaller desktops) */
/* ********************************************* */
@media (max-width: 75em) {
  section {
    padding: 6.8rem 0;
  }

  .about-text,
  .details {
    font-size: 16px;
  }

  .schools {
    padding: 15px;
  }

  .education-text {
    font-size: 18px;
  }

  .project img {
    width: 400px;
  }

  .description-text {
    font-size: 17px;
  }

  .footer {
    gap: 32px;
  }

  .copyright {
    font-size: 16px;
  }

  .btn-visit:link,
  .btn-visit:visited {
    width: 25%;
    padding: 4px 20px;
  }
}

/* ********************************************* */
/*/BELOW  960px (Tablets) */
/* ********************************************* */
@media (max-width: 60em) {
  .project {
    -moz-column-gap: 4.8rem;
    column-gap: 4.8rem;
    margin-bottom: 5.6rem;
    padding: 20px 30px;
  }

  .footer {
    gap: 22px;
  }

  .school {
    padding: 15px 30px;
  }

  .education-level {
    font-size: 20px;
  }

  .education-text {
    line-height: 1.3;
    font-size: 17px;
  }

  .btn-visit:link,
  .btn-visit:visited {
    width: 30%;
  }

  .project img {
    width: 350px;
  }

  .project-description {
    padding: 10px 15px;
  }

  .copyright,
  .contact-link {
    font-size: 16px;
  }

  .logo-col {
    gap: 30px;
  }

  .contacts {
    gap: 8px;
  }

}

/* ********************************************* */
/*/BELOW  780px (Smaller Tablets) */
/* ********************************************* */
@media (max-width: 48.75em) {
  section {
    padding: 3.6rem 0;
  }

  .logo-img {
    height: 30px;
  }

  .section-hero {
    grid-template-columns: 2fr 1fr;
    gap: 4.8rem;
  }

  .hero-text {
    font-size: 17px;
  }

  .hero-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .school {
    padding: 10px 15px;
  }

  .heading-secondary {
    font-size: 2.2rem;
  }

  .education-text {
    line-height: 1.2;
    font-size: 16px;
  }

  .project-name {
    font-size: 18px;
  }

  .footer {
    grid-template-columns: 1.5fr 1fr;
    padding: 2.4rem;
  }

  .project-description {
    padding: 5px 10px;
  }


  .description-text {
    font-size: 16px;
  }

  .btn-visit:link,
  .btn-visit:visited {
    width: 15%;
  }

  .about-text {
    line-height: 1.2;
    border-bottom: 1px solid #cf711f;
    border-left: 1px solid #07b29b;
  }


  .social-col,
  .logo-col {
    gap: 24px;
  }

  .footer-logo {
    height: 30px;
  }

  .project {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.6rem;
  }

  .project img {
    width: 400px;
  }

  .profile-picture {
    width: 80%;
  }

  .project-name {
    font-size: 20px;
  }

  .hero-text {
    line-height: 1.2;
  }

  .word,
  .name {
    font-size: 28px;
  }

  .letter,
  .career {
    font-size: 24px;
  }

  .details {
    padding-left: 12px;
  }

  .heading-secondary {
    margin-bottom: 10px;
  }

  .schools {
    padding: 8px;
  }

  .education-level {
    margin-top: 0;
    margin-bottom: 6px;
  }

  .logo-col {
    grid-row: 2;
  }

  .education-text {
    line-height: 1.2;
  }

  .footer_nav__links {
    text-align: center;
  }

  .logo-col {
    flex-direction: row;
  }

  /* ********************************************* */
  /*/MOBILE NAVIGATION */
  /* ********************************************* */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .nav {
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    background-color: #efe5ddc3;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  /* Hide the menu button while the nav is open */
  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .nav__links {
    flex-direction: column;
    gap: 3.6rem;
  }

  .nav_link:link,
  .nav_link:visited {
    font-size: 2rem;
    font-weight: 600;
  }
}

/* ********************************************* */
/*/BELOW  624px (Smart Phones) */
/* ********************************************* */
@media (max-width: 40.5em) {
  .section-hero {
    padding: 10px;
    grid-template-columns: 1fr;
  }

  .hero-img-box {
    grid-row: 1;
  }

  .hero-text-box {
    justify-content: center;
  }

  .profile-picture {
    width: 50%;
  }

  .btn-visit:link,
  .btn-visit:visited {
    font-size: 16px;
    padding: 2px 6px;
  }

  .btn-more:link,
  .btn:visited {
    padding: 6px 12px;
    margin-top: 15px;
  }


  .logo-col {
    grid-column: span 2;
    flex-direction: row;
  }

  .section-hero {
    gap: 0;
  }

  .hero-text-box {
    align-items: flex-start;
    padding: 0 20px;
    text-align: center;
  }

  .hero-img-box {
    align-items: flex-start;
  }

  .project img {
    width: 350px;
  }

  .container {
    padding: 0 1.2rem;
  }

  .footer_nav_link {
    font-size: 12px;
  }
}


/* ********************************************* */
/*/BELOW  544px (Smart Phones) */
/* ********************************************* */
@media (max-width: 34em) {
  .footer {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 12px;
  }

  .footer-heading {
    margin-bottom: 0.8rem;
    margin-top: -3rem;
  }

  .social-links {
    flex-direction: column;
    gap: 6px;
  }

  .footer_nav__links {
    display: none;
  }

  .lni {
    display: inline;
  }
}

/* ********************************************* */
/* The End */
/* ********************************************* */